* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a.banner {
    background: #ccc;
    width: 800px;
    height: 300px;
    display: block;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(images/bg800.gif);
    background-position: right;
    margin: auto;
    
    
}
.logo {
    position: absolute;
    left: 50px;
    top: 85px;
    animation-name: logo;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes logo {
    0% { top: -100px; }
    100% { top: 85px; }
}
.poster {
    position: absolute;
    width: 160px;
    height: 169px;
    top: 65px;
    right: 70px;
    /* animation-delay: 10s; */
    transform: scale(1.5);
    transition: 5s;
}
.btn {
    position: absolute;
    left: 224px;
    top: 219px;
    width: 140px;
    height: 65px;
    background-color: #fff;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 30vh;

}
